---
layout: default
title: Julia中文社区
subtitle: Chinese Julia Community
---
<section class="post-list">
  <header class="post-header intro">
    <div class="intro-in">
      <h1 class="post-title">{{ page.title }}</h1>
      {% if page.subtitle %}
        <h2 class="intro-subtitle">{{ page.subtitle }}</h2>
      {% endif %}
    </div>
    <iframe height="1250" width="100%" src="http://wj.qq.com/survey.html?id=326535&hash=1edc" frameborder="0" scrolling="no" allowfullscreen></iframe>
  </header>

</section>

<!-- <section class="intro">
  {% include navbar.html %}

  <div class="intro-in">

    <header class="post-header intro">
      <div class="intro-in">
        <h1 class="post-title">Julia中文社区</h1>
        <h2 class="intro-subtitle">Chinese Julia Community</h2>
        <h2 class="intro-subtitle">2016 Julia User Meetup 要来啦~</h2>
        <h2 class="intro-subtitle">五月来深圳和大家分享你的想法吧!</h2>
        <a href="{{ site.url }}/about" class="button button-ghost" role="button">报名 2016小聚@深圳</a>
      </div>
    </header>
</section>
 -->