---
layout: default
title: 下载
subtitle: Downloads
---

<section class="post-list">

  <header class="post-header intro">
    <div class="intro-in">
      <h1 class="post-title">{{ page.title }}</h1>
      {% if page.subtitle %}
        <h2 class="intro-subtitle">{{ page.subtitle }}</h2>
      {% endif %}
    </div>
  </header>

    <article class="post-item container">
    <h1>安装指南（当前版本： v0.4.5）</h1>
    Julia提供以下几种运行Julia的方式：
    <li>命令行模式</li>
    <li><a href="http://www.junolab.org/">Juno</a> IDE</li>
    <li>在浏览器上直接通过IJulia notebook使用的<a href="https://www.juliabox.org/">JuliaBox</a>（不需要安装，在浏览器中打开这个地址，并注册即可）</li>

    <hr>
    
    <h1>安装包下载：</h1>
    <h2>Windows用户</h2>
    <p>请下载： <a href="https://s3.amazonaws.com/julialang/bin/winnt/x86/0.4/julia-0.4.5-win32.exe">32位安装包</a>/<a href="https://s3.amazonaws.com/julialang/bin/winnt/x64/0.4/julia-0.4.5-win64.exe">64位安装包</a></p>
    <h2>Ubuntu/Debian/Fedora/CentOS/SL 包（rpm）用户</h2>
    <p>请将ppa源添加至系统中</p>
    <p class="highlighter-rouge"><pre><code>sudo add-apt-repository ppa:staticfloat/juliareleases
    sudo add-apt-repository ppa:staticfloat/julia-deps
    sudo apt-get update
    sudo apt-get install julia
    </code></pre>
    </p>

    <h2>Mac用户</h2>
    <p>请下载 Mac OS X安装包 <a href="https://s3.amazonaws.com/julialang/bin/osx/x64/0.4/julia-0.4.5-osx10.7+.dmg">64位安装包（10.7+）</a></p>
    </article>

<!--   {% for post in site.posts %}
    <article class="post-item container">
      <header>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h1 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
      </header>

      <p>{{ post.content | strip_html | truncatewords: 56 }} <a href="{{ post.url | prepend: site.baseurl }}" title="Permalink to: {{ post.title }}" class="read-more">Read more</a></p>
    </article>
  {% endfor %} -->

</section>
