<a href="#navbar" id="menu-burger" class="menu-burger">Menu
  <span class="nav-icon"></span>

  <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
    <circle fill="transparent" stroke="#000000" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
  </svg>
</a>

<div id="navbar" class="navbar">
  <div class="navigation-wrapper">
    <div class="half-block">
      <h2>Navigation</h2>

      <nav>
        <ul class="primary-nav">
          <li><a href="{{ '/' | prepend: site.baseurl }}">主页/Home</a></li>
          <li><a href="{{ '/blog' | prepend: site.baseurl }}">社区动态/News</a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">关于中文社区/About</a></li>
          <li><a href="http://julia-cn.readthedocs.org/zh_CN/latest/">中文文档/Doc</a></li>
          <li><a href="http://julia.org.cn">讨论/Discussion</a></li>
          <li><a href="{{ '/recruitment' | prepend: site.baseurl }}">招聘/Recruitment</a></li>
          <li><a href="{{ site.author.github }}" target="_blank"><i class="icon icon-github"></i> Github</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>